
// Common - Icons
//------------------------------------------------------------------------------

[class^="icon-"] {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: auto;
  width: 12px;
  height: 9px;
}

.icon-arrow-more {
  background-image: url(../img/icons/icon-arrow-pink.png);
}